@import "./variables";
@import "./mixins";
@import "./base";

@import "./components/header";
@import "./components/footer";
@import "./components/hero-slider";
@import "./components/button";
@import "./components/section";
@import "./components/policy-card";
@import "./components/product-card";
@import "./components/catalog";
@import "./components/custom-checkbox";
@import "./components/product";
@import "./components/product-view-modal";
@import "./components/cart";

a {
    text-decoration: none !important;
    color: #000 !important;
}

